<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block titulo_pagina %}{% endblock %}</title>
	
	{% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Old+Standard+TT' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}" />
	
	{% block estilos %}{% endblock %}

	{% block metas %}{% endblock %}
</head>
<body>
	<!---Menu Rudeware-->
     <nav class="navbar navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!--Marca del nav -->
              <a href="#" class="navbar-brand"><img src="{% static 'img/rudeware.svg' %}" class="img-responsive loguito" alt="Responsive image"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="/noticias">Noticias</a></li>
                <!--Dropdown del nav -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quienes Somos<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/conocenos">Visión y Misióm</a></li>
                    <li><a href="/preguntas">Preguntas Frecuentes</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#help">Soporte </a></li>
                  </ul>
                </li>
                <li><a href="/login">Iniciar Sesión</a></li>
                <li><a href="/singin">Registrate</a></li>
              </ul>
            </div>
          </div>
     </nav>
  
  <div class="modal fade" id="help">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-hideden="true" data-dismiss="modal">&times;</button>
        <h2 class="modal-title text-center">¿Cómo podemos ayudarle?</h2>
      </div>
      <div class="modal-body">
        
          <img class="img-responsive" src="{% static 'img/workers.jpg' %}" alt="img-rude">
        
            <h3 class="text-center">Estamos encantados en ayudarte</h3>
              
        <form role="form">
              <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" placeholder="Ingrese sus nombres">
              </div>
              
              <div class="form-group">
                <label for="email">Correo Electronico</label>
                <input type="email" class="form-control" id="email" placeholder="correo electronico">
              </div>
              <div class="form-group">
                <label for="pwd">Comentanos tu duda</label>
                <textarea class="form-control" id="pwd" rows="7" cols="50" name="comment" placeholder="Te responderemos lo mas antes posible" >
                </textarea>
              </div>
              
            </form>
        
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-hola" value="Consultar">
        <buttton class="btn btn-default" data-dismiss="modal">Cancelar</buttton>
      </div>
    </div>
  </div>
</div>
<!--Modal de Terminos y condiciones-->
<div class="modal fade" id="terminos">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" aria-hideden="true" data-dismiss="modal">&times;</button>
          <h2 class="modal-title">Te damos la bienvenida a Rudeware</h2>
        </div>
        <div class="modal-body">
          <p>
          Te agradecemos que uses los productos y los servicios de redujera (en adelante, los «Servicios»). Los Servicios se proporcionan a través de rudeware cuyo domicilio social está ubicado en san salvador, El salvador
            El uso de nuestros Servicios implica la aceptación de estas condiciones. Te recomendamos que las leas detenidamente.
            Nuestros Servicios son muy diversos, por lo que en ocasiones se pueden aplicar condiciones o requisitos de productos adicionales (incluidas restricciones de edad). Las condiciones adicionales estarán disponibles junto con los Servicios pertinentes y formarán parte del acuerdo que estableces con Google al usar nuestros servicios.
            Debes seguir las políticas disponibles a través de los Servicios.
            </p><br>
            <p>
            No debes usar nuestros Servicios de forma inadecuada. Por ejemplo, no debes interferir con dichos Servicios ni intentar acceder a ellos usando un método distinto a la interfaz y a las instrucciones proporcionadas por Google. Solo podrás usar los Servicios en la medida en que la ley lo permita, incluidas las leyes y las normativas de control de las exportaciones y de las reexportaciones que estén en vigor. Podemos suspender o cancelar nuestros Servicios si no cumples con nuestras políticas o condiciones o si consideramos que tu conducta puede ser malintencionada.
            El uso de nuestros Servicios no te convierte en titular de ninguno de los derechos de propiedad intelectual de los mismos ni del contenido al que accedas. Solo podrás usar el contenido de nuestros Servicios si te autoriza su titular o si está permitido por la ley. Estas condiciones no te otorgan el derecho a usar las marcas ni los logotipos utilizados en nuestros Servicios. No elimines, ocultes ni alteres los avisos legales que se muestren en nuestros Servicios.
            </p><br>
            Nuestros servicios muestran contenido que no pertenece a Google. Este contenido es responsabilidad exclusiva de la entidad que lo haya puesto a disposición. Podemos revisar el contenido para determinar si es ilegal o infringe nuestras políticas, y eliminarlo o negarnos a publicarlo si tenemos razones suficientes para considerar que infringe nuestras políticas o la ley. Sin embargo, esta posibilidad no implica necesariamente que revisemos el contenido, por lo que no debes dar por sentado que vayamos a hacerlo.
            <br><p>
            En relación con el uso de los Servicios, podemos enviarte avisos de servicio, mensajes administrativo y otro tipo de información. Si quieres, puedes desactivar algunas de estas comunicaciones.
            Algunos de nuestros Servicios están disponibles en dispositivos móviles. No utilices esos Servicios de un modo que pueda distraerte y que te impida cumplir las leyes de tráfico o de seguridad.
          </p>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-hola" value="Aceptar">
          <buttton class="btn btn-default" data-dismiss="modal">Cancelar</buttton>
        </div>
      </div>
    </div>
  </div>


	{% block view %}
	{% endblock %}

  <footer>
    <div class="container-fluid">
     <div class="col-xs-12 col-md-4">¿Tienes preguntas? Llama al <a class="afoot" href=""> +1 (408) 600-1720 (USA)</a></div>
     <!--Soporte tecnico -->
     <div class="col-xs-6 col-md-4"><a class="afoot" href="ask.php">Preguntas Frecuentes</a></div>
     <!--Redes Sociales y correo-->
     <div class="col-xs-6 col-md-4 hidden-xs hidden-sm"><a class="afoot" href="https://www.facebook.com/">Facebook</a></div>
     <div class="col-xs-6 col-md-4 hidden-xs hidden-sm"><a class="afoot" href="https://www.twitter.com/">Twitter</a></div>
     <div class="col-xs-6 col-md-4 hidden-xs hidden-sm"><a class="afoot" href="https://www.instagram.com/">Instagram</a></div>
     <div class="col-xs-6 col-md-4 hidden-xs hidden-sm"><a class="afoot" href="https://mail.google.com/">contacto@rudeware.com.sv</a></div>
     <div class="col-xs-6 col-md-4 hidden-xs hidden-sm"><a class="afoot" href="">Comprar/Canjear regalo</a></div>
     <div class="col-xs-6 col-md-4 hidden-xs hidden-sm"><a class="afoot" href="">Formas de ver</a></div>
     <div class="col-xs-6 col-md-4 hidden-xs hidden-sm"><a class="afoot" href="" data-toggle="modal" data-target="#terminos">Terminos de uso</a></div>
     <div class="navbar-text pull-left col-xs-12">
      <!--Derechos-->
      <p>© 2016 Rudeware.</p>
    </div>
    </div>
  </footer>
  

  <script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="{% static 'js/nav.js' %}"></script>
  {% block archivos_js%}{% endblock %}
</body>
</html>