{% extends "admin_dash.html" %}
{% load staticfiles %}

<!--establece el titulo a la pagina-->
{% block title %}
	Modificar Proveedor
{% endblock %}

{% block dashview %}
	<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<h3>Modificar Proveedor</h3>
	<div class="form-group col-xs-4">
		{{ form.nombre }}
		<div class="fileUpload btn btn-hola">
    <span>Cambiar Imagen</span>
		{{ form.imagen }}
		</div>

	</div>
	<div class="form-group ">
		<button class="btn btn-hola" type="submit"> Modificar</button>		
	</div>
</form>
{% endblock %}