{% extends "admin_dash.html" %}
{% load staticfiles %}

<!--establece el titulo a la pagina-->
{% block title %}
    Modificar Producto
{% endblock %}

{% block dashview %}
	<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<h3>Modificar Producto</h3>
	<div class="form-group col-xs-4">
		<div class="form-group">
            <label for="">Nombre</label>
            {{ form.nombre }}
         </div>
         <div class="form-group">
            <label for="">Precio</label>
            {{ form.precio_unitario }}
         </div>
          <div class="form-group">
            <label for="">Proveedor</label>
            {{ form.id_proveedor }}
         </div>
          <div class="form-group">
            <label for="">Categoria</label>
            {{ form.id_categoria }}
         </div>
          <div class="form-group">
            <label for="">Descripcion</label>
            {{ form.descripcion }}
         </div>
	
	<div class=" fileUpload btn btn-hola">
	    <span>Cambiar Imagen</span>
			{{ form.imagen }}
	</div>
	<button class="btn btn-hola" type="submit"> Modificar</button>	
	
	</div>
	
</form>
{% endblock %}