{% extends "admin_dash.html" %}
{% load staticfiles %}

<!--establece el titulo a la pagina-->
{% block title %}
	Modificar permiso por Modulo
{% endblock %}

{% block dashview %}
	<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<h3>Modificar Permiso por modulo</h3>
	<div class="form-group col-xs-4">
		{{ form.id_permiso }}
	</div>
	<div class="form-group col-xs-4">
		{{ form.id_modulo }}
	</div>
	<div class="form-group ">
		<button class="btn btn-hola" type="submit"> Modificar</button>		
	</div>
</form>
{% endblock %}