<!--toma como plantilla base.html-->
{% extends "base.html" %}

<!--carga los archivos estaticos css,img,js...-->
{% load staticfiles %}

<!--establece el titulo a la pagina-->
{% block titulo_pagina %}
{{ title }}
{% endblock %}

{% block estilos %}
<link rel="stylesheet" type="text/css" href="{% static 'css/products.css' %}" />
{% endblock %}

{% block view %}
<section>
	<div class="container-fluid" id="principalP">
		<div class="row-fluid">
			<div class="col-sm-12 col-md-offset-10 col-md-2 postz" id="barranueva">
				<br><ul class="nav nav-pills nav-stacked" id="menuVertical">
				<li class="active item " ><a href="#" class="categoria"><p id="boton1" class="text-center"></p><button type="button" class="btn btn-hola center-block" onClick="getBuy()"><span class="glyphicon glyphicon-shopping-cart"></span> Comprar </button>
				</a></li>
			</ul><br>
		</div>
		<div class="col-sm-2 col-md-2 postz" id="">
			<ul class="nav nav-pills nav-stacked" id="menuVertical">
				<li class="active item " id="mobos"><a href="#" class="categoria">Todos</a></li>
				{% for categoria in categoria_list %}
				<li class="item"> <a href="#">{{ categoria.nombre }}</a></li>
				{% endfor %}
			</ul>
			<form class="navbar-form navbar-right" role="search">
				<input type="text" class="form-control" placeholder="Buscar producto...">
			</form>
		</div>

		<!--Cuadricula con productos-->
		
		<div class="col-sm-10 col-md-10 cuadricula">
			<div class="row">
				{% for producto in productos_lista %}
				<div class="col-xs-6 col-sm-4 col-md-3 text-center box">
					<div class="thumbnail">

						<img class="imgproducto img-responsive"  src="{{ producto.imagen.url }}" alt="img-rude">
						<div class="caption">
							<h3 class="text-center">{{ producto.nombre }}</h3>
							<p class="text-center">{{ producto.descripcion }}</p>
							<button class="btn btn-hola-carrito" ><span class="glyphicon glyphicon-shopping-cart"></span></button>
							<button type="button" class="btn btn-hola"  data-toggle="modal" data-target="#detalle" >Conocer más</button>
						</div>
					</div>
				</div>

				{% endfor %}
				<div class="col-md-12 text-center">
		<div class="pagination">
			<nav>
				<ul class="pagination">
					<li class="page-item">
						{% if productos_lista.has_previous %}
						<a class="page-link" aria-label="Previous" href="?page={{ productos_lista.previous_page_number }}">
							<span aria-hidden="true">&laquo;</span>
							<span class="sr-only">Previous</span>
						</a>
						{% endif %}

					</li>
					{% for i in paginator.page_range %}
					<li class="page-item">
						<a class="page-link"  href="?page={{ i }}">{{ i }}</a>
					</li>
					{% endfor %}
					{% if productos_lista.has_next %}
					<li class="page-item">
						<a class="page-link" aria-label="Next" href="?page={{ productos_lista.next_page_number }}">
							<span aria-hidden="true">&raquo;</span>
							<span class="sr-only">Next</span>
						</a>
					</li>
					{% endif %}
				</li>
			</ul>
		</nav>
	</div>
</div>


			</div>
		</div>
	</div>
</div>
</section>
<br>
{% endblock %}

{% block archivos_js %}
<script src="{% static 'js/products.js' %}"></script>	
{% endblock %}

