<!--toma como plantilla base.html-->
{% extends "base.html" %}

<!--carga los archivos estaticos css,img,js...-->
{% load staticfiles %}

<!--establece el titulo a la pagina-->
{% block titulo_pagina %}
	{{ title }}
{% endblock %}

{% block estilos %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}" />
{% endblock %}

{% block view %}
<br><br><br><br>
  <section>
    <div class="container-fluid">
      <div class="row">
      <br>
      <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-0">
          <div class="thumbnail card">
            <img src="{% static 'img/workers.jpg' %}" alt="img-rude">
            <div class="caption">
              <h3 class="text-center">Tu cuenta</h3>
              <p class="text-center">Tu sitio de administracion del software de tu empresa</p>
            </div>
          </div>
        </div>
        <div id="loginbox" class="col-xs-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-0">
          <h2 id="title" class="text-center">Registrarme</h2>
          <form id="loginform" role="form" method="POST">
              {% csrf_token %}
            <form role="form">
              <div class="form-group">
                <label for="name">Nombres</label>
                {{ form.nombre}}
              </div>
              <div class="form-group">
                <label for="lname">Apellidos</label>
                {{ form.apellido}}
              </div>
              <div class="form-group">
                <label for="genra">Genero</label>
               {{ form.genero }}
              </div>
              <div class="form-group">
                <label for="telefono">Telefono</label>
               {{ form.telefono }}
              </div>
              <div class="form-group">
                <label for="email">Correo Electronico</label>
                {{ form.correo }}
              </div>
              <div class="form-group">
                <label for="pwd">Contraseña</label>
                <input class="form-control" type="password" id="pwd" name="password" placeholder="Ingrese su contraseña">
              </div>
              {{ form.ingreso }}
              {{ form.estado }} 
              <div class="checkbox">
                <label><input type="checkbox">¡Sé el primero en conocer las mejores ofertas!</label>
              </div>
              <div  class="form-group">
                <div class="col-sm-12 controls">
                  <button type="submit" class="btn btn-hola center-block">Registrame</button>
                </div>
                <br>
                <br>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <br>
{% endblock %}
